{% extends "base.html" %}
{% block content %}
<div class = "container">
  <p class="tagline">{{item.name}}</p>
  <br>
  <p class="tagline">$ {{item.price}}</p>
  <div id = "item" class = "row">
    <div id = "item-row" class= col-md-12>
      {% if item.picture %}
      <div class="product-cat"><img src="/static/images/{{item.picture}}"></div>
      {% endif %}
      <h3 class ="description"> Description: {{item.description}}</h3>
      <h3 id="item-view" class="item-cat" >
      <a href="{{url_for('edit_item', category_name = item.category.name, item_name = item.name)}}">Edit</a> | <a href="{{url_for('delete_item', category_name = item.category.name, item_name = item.name)}}">Delete
      </a></h3>
    </div>
  </div>
</div>
<script type="text/javascript">
$('title').text("{{item.name}}");
</script>
{% endblock %}