<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rock Central</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
     <div>
    <nav class="navbar navbar-default" style="background-color: black;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" style="font-family: 'Rock Salt', cursive; color: red;" href="/">ROCK CENTRAL</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          {% for category in categories %}
            <li><a  href="{{url_for('show_category', category_name = category.name, sort_type = 'unsorted')}}">{{category.name}}({{category.items_val}})</a></li>
          {% endfor %}
          </ul>
          <form method = "post" class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" name = "search" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    </div>
      <div class = "container">
<p class="tagline">{{item.name}}</p>
<br>
<p class="tagline">{{item.price}}</p>
<div id = "item" class = "row">
<div id = "item-row" class= col-md-12>
<div class="product-cat"><img src="/static/images/{{item.picture}}"></div>
    <h3 class ="description"> Description: {{item.description}}</h3>
</div>
</div>
</div>
<script type="text/javascript">
  $('div.purple').toggleClass('purple');
  $('title').text("{{item.name}}");
</script>
 </body>
</html>