{% extends "base.html" %}
{% block content %}
<script src="/static/js/public.js"></script>
<div class = "container">
  <p class="tagline">{{item.name}}</p>
  <br>
  <p class="tagline">$ {{item.price}}</p>
  <div id = "item" class = "row">
    <div id = "item-row" class= col-md-12>
      <div class="product-cat"><img src="/static/images/{{item.picture}}"></div>
      <h3 class ="description"> Description:
       {{item.description}}</h3>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('title').text("{{item.name}}");
</script>
{% endblock %}