{% extends "base.html" %}

{% block content %}
<script src="/static/js/public.js"></script>
<div class="row purple">
  <div class ="title-text">
    <p class="brand"> Let's Rock!</p>
    <p class="tagline">Here at RockCentral,</p>
    <p class="tagline">we have everything</p>
    <p class="tagline"> your band needs</p>
    <p class="tagline">to rock and roll! </p>
  </div>
</div>

<div class = "container" id="content">
  <div class = "row">

    <p class="latest">Latest Items</p>

      <div  id="items" class= "row">
        {% for item in items_row1%}
        <div class="col-md-4">
          <div  class="holder">
            {% if item.picture %}
            <div class="product"><img src="/static/images/{{item.picture}}"></div>
            {% endif %}
            <p class ="item-name"><a href="{{url_for('show_item', category_name = item.category.name, item_name = item.name)}}"
             class ="item-name">{{item.name}}</a></p>
            <h4>$ {{item.price}}</h4>
            <p class="cat-link" ><a href="{{url_for('show_category',
             category_name = item.category.name, sort_type =
              'all')}}">
            see all {{item.category.name}}</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="items" class= "row">

        {% for item in items_row2%}
        <div class="col-md-4">
          <div class="holder">
            {% if item.picture %}
            <div class="product"><img src="/static/images/{{item.picture}}"></div>
            {% endif %}
            <p class ="item-name">
            <a href="{{url_for('show_item',category_name=item.category.name,item_name=item.name)}}"
            class ="item-name">{{item.name}}</a></p>
            <h4>$ {{item.price}}</h4>
            <p class="cat-link" >
            <a href="{{url_for('show_category',category_name=item.category.name,sort_type='all')}}">
            see all {{item.category.name}}</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
</div>

<script src="/static/js/closeflash.js"></script>

{% endblock %}