{% extends "base.html" %}
{% block content %}
<script src="/static/js/public.js"></script>
<div class = "container">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button"
     id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort by
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li>
      <a href="
      {{
      url_for(
      'show_category', category_name = thiscategory.name,
       sort_type = 'price_asc')}}">
      Price: Low to High</a></li>
      <li>
      <a href="{{url_for(
      'show_category', category_name = thiscategory.name,
       sort_type = 'price_desc')}}">
      Price: High to Low</a></li>
    </ul>
  </div>
  <div class ="title-text">
    <p class="brand">{{thiscategory.name}}</p>
    <p class="tagline">{{thiscategory.tagline}}</p>
  </div>
  {% for item in items %}
  <div id = "item" class = "row">
    <div id = "item-row" class= col-md-12>
      {% if item.picture %}
      <div class="product-cat"><img src="/static/images/{{item.picture}}"></div>
      {% endif %}
      <h3 id="item-name" class ="item-cat">
      <a href="{{url_for(
      'show_item', category_name = item.category.name,
       item_name = item.name)}}"
       class ="item-cat">{{item.name}}</a></h3>
      <h3 id="item-price" class ="item-cat">$ {{item.price}}</h3>
    </div>
  </div>
  <hr id="separator">
  {% endfor %}
</div>
<script type="text/javascript">
  $('title').text("{{thiscategory.name}}")
</script>
<script src="/static/js/closeflash.js"></script>

{% endblock %}